@import "value.less";
@import "func.less";
@import "base.less";
@import "circle.less";

@bg-color: #F2F2F2;
.padding-box {
  .padding-box()
}

.padding-box() {
  background-color: #fff;
  padding: unit(20/@base-px-2-rem, rem);
  margin-bottom: unit(20/@base-px-2-rem, rem);
  &:last-child {
    margin-bottom: 0;
  }
}

.box-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.box-col-start {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.ad-imgBox {
  width: 100%;
  max-width: @max-width;
  height: unit(round(200/@base-px-2-rem, 1), rem);
  position: relative;
  // to fix the big image split the page
  // http://www.divcss5.com/wenji/w364.shtml
  overflow: hidden;
  img {
    //display: block;
    // to fix the big image split the page
    // http://stackoverflow.com/questions/7055393/center-image-using-text-align-center
    height: unit(round(200/@base-px-2-rem, 1), rem);
    position: relative;
    //-webkit- to fix UC borwser transform not work.
    transform: translateX(-50%) scale(1.1, 1.1);
    left: 49.9%;
    zoom: 1.1;
    //fix the ip6 over device not in the center
    @media screen and (min-width: 768px) {
      transform: translateX(-50%) scale(1.2, 1.2);
      zoom: 1.2;
    }
  }
}

//列表信息
.list-panel {

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: unit(40/@base-px-2-rem, rem);
  padding-right: unit(40/@base-px-2-rem, rem);

  .list-panel-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    padding: unit(30/@base-px-2-rem, rem) 0;

    border-bottom: 1px solid @border-color-gray-very-light;

    &:first-child {
      border: 0;
    }
    &:last-child {
      border: 0;
    }
    .list-panel-header {
      & > p {
        font-size: 14px;
      }
      width: 100%;

    }
    .list-panel-left {
      & > p {
        font-size: 14px;
      }
      width: 42%;

    }
    .list-panel-right {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;

      & > p {
        font-size: 12px;
        text-align: right;
        letter-spacing: 1px;
        color: @border-color-gray;
      }
      & i {
        margin-top: unit(3/@base-px-2-rem, rem);
      }
      width: 58%;
    }
  }

  .list-panel-right-detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    & > p {
      color: @border-color-gray;
    }
    span.price {
      color: #000;
      font-size: 20px;
    }
  }

  a.call-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

  }
  //选项布局
  &.list-select {
    //激活状态
    .active {
      .list-panel-left > p:first-child {
        font-size: 14px;
        color: #000;
      }
      .list-panel-left > p:last-child {
        font-size: 12px;
        color: @orange-red;
      }
    }
    //默认状态　灰色

    .list-panel-left {
      & > p {
        font-size: 14px;
        color: @coupon-light-gray;
      }
      & > p:last-child {
        font-size: 12px;
        color: @coupon-light-gray;
      }
      width: 70%;

    }
    .list-panel-right {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      width: 30%;

      & > p {
        font-size: 12px;
        text-align: right;

        color: @border-color-gray;
      }
      & i {
        margin-top: unit(3/@base-px-2-rem, rem);
      }
    }

  }
}

.s-red {
  color: @orange-red !important;
  font-size: 9px;
  margin: unit(20/@base-px-2-rem, rem) 0;
}

.l-black {
  color: #111;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: unit(20/@base-px-2-rem, rem) 0;
}

.text-gray {
  color: @coupon-light-gray;
}

.text-red {
  color: @orange-red;
}

p.coupon {
  &:before {
    position: relative;
    display: inline;
    content: '减';
    font-size: 10px;
    color: #fff;
    background-color: rgb(246, 104, 119);
    border-radius: 3px;
    padding: unit(6/@base-px-2-rem, rem) unit(10/@base-px-2-rem, rem);
    margin-right: unit(10/@base-px-2-rem, rem);
    bottom: unit(5/@base-px-2-rem, rem);
  }
}

//优惠券
@coupon-gray: #6a6a6a;
@coupon-light-gray: #8b8b8b;
@coupon-red: #ff0025;

.coupon-list {

  &.valid {
    .coupon-list-detail-deadline {
      visibility: hidden;
    }

  }
  &.expired {
    > div, p {
      color: @coupon-light-gray !important;
    }
    .coupon-list-detail-deadline {
      border-color: @coupon-light-gray !important;
    }

  }

  position: relative;
  box-shadow: 0 0 0 3px #eeeeee;

  padding: unit(round(30/@base-px-2-rem, 3), rem) unit(round(60/@base-px-2-rem, 3), rem);

  .coupon-list-detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;

    width: 100%;
    padding-bottom: unit(round(30/@base-px-2-rem, 3), rem);
    border-bottom: unit(round(5/@base-px-2-rem, 3), rem) dashed @bg-color;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      background-color: @bg-color;
      width: unit(round(50/@base-px-2-rem, 3), rem);
      height: unit(round(50/@base-px-2-rem, 3), rem);
      bottom: unit(round(-25/@base-px-2-rem, 3), rem);

    }
    &:before {
      left: unit(round(-85/@base-px-2-rem, 3), rem);
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: unit(round(5/@base-px-2-rem, 3), rem);
        border-bottom: unit(round(5/@base-px-2-rem, 3), rem) dashed @bg-color;

      }

    }
    &:after {
      right: unit(round(-85/@base-px-2-rem, 3), rem);

    }

    & .coupon-list-detail-limit {

      text-align: center;
      & p:first-child {
        color: @coupon-red;
        font-size: 18px;
        font-weight: 600;
        span {
          font-size: 24px;
        }
      }
      & p:last-child {
        color: @coupon-gray;
        font-size: 10px;
      }
    }
    & .coupon-list-detail-source {

      p {
        &:first-child {
          font-size: 13px;
        }
        font-size: 10px;
        font-weight: 600;
        margin-top: unit(round(30/@base-px-2-rem, 3), rem);
        line-height: 100%;
      }
    }

    & .coupon-list-detail-deadline {
      border-radius: 50%;
      width: unit(round(180/@base-px-2-rem, 3), rem);
      height: unit(round(180/@base-px-2-rem, 3), rem);
      border: unit(round(3/@base-px-2-rem, 3), rem) solid @coupon-red;
      p {
        line-height: unit(round(180/@base-px-2-rem, 3), rem);
        text-align: center;
        color: @coupon-red;
        font-size: 12px;
      }

    }

  }
  .coupon-list-limit {
    padding: unit(round(30/@base-px-2-rem, 3), rem) unit(round(25/@base-px-2-rem, 3), rem) 0;

    p {
      font-size: 10px;
      color: @coupon-light-gray;
    }

  }

}

//确认订单页面

.order-detail-address {
  > p {
    text-align: center;
    margin: unit(round(20/@base-px-2-rem, 3), rem) 0;
    &:last-child {
      margin-bottom: 0;
    }

  }
  .order-detail-address-title {
    font-size: 14px;
    color: @coupon-light-gray;
  }
  .order-detail-add {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    i {

    }
  }
  .order-detail-userinfo {
    font-size: 14px;
  }

}

.nav-bottom-bar {
  &.order-comfirm {
    background-color: #787878;
    .order-prices {
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
      padding-left: unit(round(40/@base-px-2-rem, 3), rem);

    }

  }

  &.goods-detail {
    .nav-btn-wrapper {
      position: relative;
      div.order-prices {
        margin-left: unit(round(-240/@base-px-2-rem, 3), rem);
        text-align: left;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        p:first-child {

        }
        p:last-child {
          font-size: 10px;
        }
      }
    }
    .nav-btn-user-header {
      width: unit(round(200/@base-px-2-rem, 3), rem);
      height: unit(round(200/@base-px-2-rem, 3), rem);;
      margin-left: unit(round(40/@base-px-2-rem, 3), rem);
      margin-bottom: unit(round(50/@base-px-2-rem, 3), rem);;
      img {
        border: 5px solid rgba(59, 59, 59, 0.5);
        border-radius: 50%;
        width: 100%;
      }
    }
    border-top: 0;
    background-color: rgba(59, 59, 59, 0.75);


  }

}

//我的钱包

.my-wallet-money {
  padding: unit(round(20/@base-px-2-rem, 3), rem) unit(round(30/@base-px-2-rem, 3), rem);
  //background-image: url("/img/wallet-bg.png");
  //background-clip: content-box;
  //background-position: left;
  //background-origin: content-box;
  //background-repeat: repeat-y;
  //background-size: cover;

  color: #fff;
  p {
    margin: unit(round(20/@base-px-2-rem, 3), rem) 0;
  }
  .my-wallet-money-title {
    font-size: 12px;
  }
  .my-wallet-money-num {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
      font-size: 34px;
    }
    a {
      color: #fff;
      padding: unit(round(15/@base-px-2-rem, 3), rem) unit(round(45/@base-px-2-rem, 3), rem);
      border-radius: 5px;
      border: 1px solid #fff;

    }
  }
  .my-wallet-money-info {
    font-size: 9px;
  }

}

.my-wallet-money-recharge-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;

  &.no-border {
    section {
      border-right: 0;
    }
    border-bottom: 0;

  }

  &.full-bottom {
    section {
      &.active {
        color: #000;
        &:before {
          display: block;
          content: '';
          position: absolute;
          height: unit(round(8/@base-px-2-rem, 3), rem);
          width: 100%;
          background-color: #111111;
          left: 0;
          bottom: unit(round(-40/@base-px-2-rem, 3), rem);
        }
      }
    }

  }

  .recharge-money, .recharge-info {
    margin: unit(round(40/@base-px-2-rem, 3), rem) 0;
    padding: 0 unit(round(45/@base-px-2-rem, 3), rem);
    border-right: 1px solid #e6e6e6;

    &:last-child {
      border-right: 0;
    }

    width: 50%;
    text-align: center;
    position: relative;
    color: @coupon-light-gray;
    &.active {
      color: #000;
      &:before {
        display: block;
        content: '';
        position: absolute;
        height: unit(round(10/@base-px-2-rem, 3), rem);
        width: 46%;
        background-color: #111111;
        left: 27%;
        bottom: unit(round(-42/@base-px-2-rem, 3), rem);
      }
    }

  }
}

.my-wallet-money-wrapper {
  padding: unit(round(40/@base-px-2-rem, 3), rem);
  height: 63vh;

  .wallet-money-pay {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    .wallet-money-one {
      width: 30%;
      padding: unit(round(20/@base-px-2-rem, 3), rem) unit(round(35/@base-px-2-rem, 3), rem);
      margin-bottom: unit(round(45/@base-px-2-rem, 3), rem);
      text-align: center;
      border-radius: unit(round(10/@base-px-2-rem, 3), rem);
      border: 1px solid #333;
      p:first-child {
        font-size: 13px;
        padding-bottom: unit(round(20/@base-px-2-rem, 3), rem);
      }
      p:last-child {
        font-size: 10px;
      }

    }
  }

  .wallet-money-history {

  }
  .wallet-money-history-one {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: unit(round(35/@base-px-2-rem, 3), rem);
    border-bottom: 1px solid @border-color-gray-very-light;
    text-align: center;
    &:last-child {
      border-bottom: 0;
    }

    .history-one-date {
      padding-left: unit(round(40/@base-px-2-rem, 3), rem);
      p:first-child {
        font-size: 14px;

      }
      p:last-child {
        font-size: 13px;
      }
    }
    .history-one-money {
      padding-left: unit(round(60/@base-px-2-rem, 3), rem);
      p {

        font-size: 22px;
      }
    }

    .history-one-info {
      padding-left: unit(round(60/@base-px-2-rem, 3), rem);
      font-size: 13px;
      color: #595959;
    }

  }

}

//商品详情
.goods-detail-wrapper {
  margin-bottom: unit(round(40/@base-px-2-rem, 3), rem);
  .goods-info {
    padding: unit(round(20/@base-px-2-rem, 3), rem) unit(round(40/@base-px-2-rem, 3), rem);
    > div {
      width: 100%;
      padding: unit(round(20/@base-px-2-rem, 3), rem) 0;
    }
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .goods-info-name-num {
    .goods-info-name {
      p {
        font-size: 14px;
        padding-bottom: unit(round(10/@base-px-2-rem, 3), rem);
      }

    }
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: unit(round(3/@base-px-2-rem, 3), rem) solid @border-color-gray-very-light;

  }

  .goods-info-num {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    i {
      margin: 0 unit(round(30/@base-px-2-rem, 3), rem);
    }
  }
  .goods-info-model {
    p {
      font-size: 13px;
      padding: unit(round(10/@base-px-2-rem, 3), rem) 0;
    }

  }

}

.goods-imgBox {
  width: 100%;
  font-size: 0;
  img {
    width: 100%;
  }

}

.my-wallet-money-recharge-main {
  &.no-thing {
    > div {
      padding: 0;
      height: auto;
    }
  }

}